.visually-hidden {
    position: absolute;
    width: 1px;
    min-width: initial;
    height: 1px;
    min-height: initial;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  body {
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 140%;
      font-family: 'Montserrat', 'Arial', sans-serif;
      font-weight: 400;
      color: #122659;
      background-color:#E5E5E5;
      
  }
  main {
      position: relative;
  }
  .container {
      max-width: 1366px;
      margin: 0 auto;
  }
  .container-small {
      width: 931px;
      margin: 0 237px 0 198px;
  }
  *::before, 
  *::after {
box-sizing: border-box;
  }
  .header {
    
    width: 1366px;
    height: 103px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .logo {
    width: 143px;
    height: 23px;
    padding-left: 98px;
    
    margin-right: 57px;
    
  }
  .main-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      padding-right: 268px;
  }
  .main-menu li{
      
      margin-right: 20px;
  }
  .main-menu li:last-child {
      margin-right: 0;
  }
  .main-menu a{
      text-decoration: none;
      color: #122659;
  }
  .header-contact {
     
      padding-right: 98px;
     
      font-family: 'Montserrat';
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: #122659;
  }
  .header-contact-icon{
      padding: 0;
      margin: 0;
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }

.promo {
    width: 1366px;
    height: 512px;
    padding: 0;
    margin:0;
    background: url("img/background-main-desktop.png") no-repeat;
    background-size: cover;
}
.promo-text {
    padding: 0;
margin: 0;
padding-left: 198px;
padding-top: 136px;
width: 375px;
}
.promo-title{
    font-family: 'Rubik';
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: 59px;
letter-spacing: 0em;
text-align: left;
padding: 0;
margin: 0;

}
.promo-subtitle {
    
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 140%;
padding: 0;
margin: 0;
}
.button {
     font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    width: 166px;
height: 50px;
border-radius: 35px;
background: #FFD787;
}
.button a{
    
    text-decoration: none;
    color: #122659;
}
.promo .button {
   margin-top: 45px;
 
}
.promo .container::before,
.promo .container::after {
  position: absolute;
  content: "";
}

.promo .container::before {
  width: 106px;
  height: 84px;
  background-image: url('img/decorate-car.svg');
  background-size: cover;
  left: 64px;
top: 37px;
 
  
}


.properties {
padding-top: 130px;
height: 511px;

}
.container-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column-1 {
    width: 414px;
}
.column-2 {
    width: 431px;
}
.properties-title {
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 140%;
text-align: center;
}
.properties-subtitle {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
}
.properties::before,
.properties::after {
  position: absolute;
  content: "";
}

.properties::before {
  width: 105px;
  height: 115px;
  background-image: url('img/decorate-girl.svg');
  background-size: contain;
  background-repeat: no-repeat;
  
  top: 794px;
  left: 35px;
}

.properties::after {
  width: 135px;
  height: 68px;
  background-image: url('img/decorate-rocket.svg');
  background-size: contain;
  background-repeat: no-repeat;
  top: 594px;
  right: 156px;
}
.types {
    margin-top: 130px;
       position: relative;
       height: 474px;
      
       display: flex;
      
}
.types-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
flex-wrap: wrap;
  
}
.types-list-item {
    width: 330px;
   
}
.types-list-item-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.types-list-item p{
    margin: 0;
    padding: 0;
}
.types img{
    width: 332px;
    height: 381px;
    position: absolute;
    top:22px;
    left:319px;
}
.types-list-item:nth-child(1) {
    padding-top: 81px;
}
.types-list-item:nth-child(2) {
    padding-top: 160px;
}
.types-list-item:nth-child(3) {
    width: 250px;
    padding-left: 350px;
    margin-top: 35px;
}
.types-list-item:nth-child(4) {
    width: 244px;
    padding-left: 350px;
    margin-top: 161px;
}

.arrows {
    position: absolute;
}
.arrow-left-1 {
    width: 182px;
    height: 61px;
    left: 222px;
top: 0;

}
.arrow-left-2 {
    width: 115px;
height: 126px;
left: 188px;
top:203px;

transform: rotate(10deg);
}
.arrow-right-1 {
    width: 115px;
    height: 126px;
    left: 640px;
    top:112px;
  }
.arrow-right-2 {
    width: 144px;
    height: 50px;
    left: 544px;
    top: 416px;
     
    transform: scale(1.6,1.6);

}
.groups {
    margin-top: 130px;
    height:803px;
  
}
.groups::before {
    position: absolute;
    content: "";
    width: 56px;
    height: 58px;
    top: 1924px;
    left: 137px;
    background-image: url('img/decorate-star.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
.groups-header {
    margin-top: 183px;
    display: flex;
    justify-content: space-between;
}
.groups-header p{
    width: 298px;
}
.groups-title {
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 140%;
width: 237px;
height: 25px;
}
.groups-list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    margin-top: 57px;

}
.groups-list-item {
    width: 296px;
    height: 321px;
    margin-right: 41px;
    border: 3px solid black;
box-sizing: border-box;
border-radius: 12px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.groups-list-item:last-child {
    margin-right: 0;
}

.groups-list-item-subtitle{
 font-weight: 500;
font-size: 20px;
line-height: 140%;
padding-top: 51px;
}
.groups-list-item-text-list {
    padding: 0;
    margin: 0;
    list-style: none;
  padding-top: 20px; 
  padding-bottom: 20px; 
    
    text-align: center;
  }
  .groups-text {
      padding-bottom: 10px;
  }
.groups-item-price {
    font-weight: 500;
font-size: 20px;
line-height: 140%;
}
.groups-item-price span {
    font-weight: normal;
font-size: 16px;
line-height: 140%;
}
.groups-list-item .button {
    margin-bottom: 50px;
    font-weight: 500;
    width: 166px;
height: 50px;
border-radius: 35px;
padding: 10px;
}
.groups-list-item-1 {
    border-color: #8DD9E5;
}
 .button-1 {
    background-color: #8DD9E5;
}
.groups-list-item-2 {
    border-color: #FFD787;
}
.button-2 {
    background-color: #FFD787;
}
.groups-list-item-3 {
    border-color: #FEB9CC;
}
.button-3 {
    background-color: #FEB9CC;
}

.teachers {
    margin-top: 130px;
    margin-bottom: 130px;
    width: 970px;
   position: relative;
}
.teachers::before,
.teachers::after {
  position: absolute;
  content: "";
}

.teachers::before {
  width: 58px;
  height: 97px;
  top: -10px;
    right: -108px;
  background-image: url('img/decorate-house.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.teachers::after {
  width: 44px;
  height: 132px;
  bottom: 0;
    left: -102px;
  background-image: url('img/decorate-pencil.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.teachers-header {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
.teachers-title {
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 140%;
width: 384px;
height: 25px;
}
.teachers-subtitle {
    padding: 0;
    margin: 0;
    width: 350px;
}
.teachers-list{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.teachers-list-item {
    width: 220px;
    
    margin-right: 30px;
}
.teachers-list-item:last-child {
    margin-right: 0;
}
.teachers-list-item img {
    width: 220px;
    height: 219px;
    
    margin-bottom: 10px;
}
.teachers-name {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
text-align: center;
margin-top: 60px;

}
.teachers-country {
    color: #677085;
    text-align: center;
}
.teachers-list-item p {
    margin: 0;
}
.slider-arrows {
    padding-top: 50px;
}
.slider-arrows::before,
.slider-arrows::after {
position: absolute;
content: " ";
width: 17px;
height: 10px;
background-size: cover;
background-repeat: no-repeat;
}
.slider-arrows::before {
    background-image: url('img/icon-arrow-left.svg');
    left: 463px;
    bottom: 0;
}
.slider-arrows::after {
    background-image: url('img/icon-arrow-right.svg');
    right: 463px;
    bottom: 0;
}
.banner{
   background:url('img/back\ banner\ 1.png') no-repeat;
   background-size: cover;
   width: 1366px;
   height: 453px;
   text-align: center;
   color: #FEFCFA;
   margin-bottom: 130px;
   position: relative;
}
.banner .container::before,
.banner .container::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .container::before {
    width: 185px;
    height: 160px;
    top: 90px;
    left: 145px;
    background-image: url('img/decorate-rainbow.svg');
  }
  
  .banner .container::after {
    width: 118px;
    height: 133px;
    top: 150px;
    right: 247px;
    background-image: url('img/decorate-boy.svg');
  }
.banner-title {
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 125%;
width: 490px;
margin: 0 auto;
padding-top: 100px;
padding-bottom: 35px;
}
.banner-text {
    line-height: 145%;
   padding-bottom: 40px;
   width: 360px;
   margin: 0 auto;
}
.banner-button {
    margin-bottom: 100px;
}
.contacts {
position: relative;
height: 681px;
}
.contacts-text-wrapper {
    width: 413px;
height: 611px;
background: #F7FAFC;
box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
border-radius: 12px;
position: absolute;
left: 198px;
z-index: 10;
}
.contacts-title {
    margin: 0;
    margin: 70px 0 50px 70px;
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 36px;

height: 25px;
}

.contacts-item  {
    margin: 0;
    margin-left: 70px;
}
.contacts-subtitle {
    margin: 0;
    margin-bottom: 20px;
    height: 11px;
   
}
.contacts-text {
    font-weight: 500;
font-size: 18px;

margin: 0;
margin-bottom: 35px;
}
.contacts-text a{
    text-decoration: none;
    color: #122659;
}
.contacts-social {
    list-style: none;
    padding: 0;
    margin-bottom: 70px;
    display: flex;
    
   
}
.contacts-social-item {
    width: 24px;
    height: 24px;
    margin-right: 15px;

}
.contacts-social-item a{
    display: block;
    
   
    
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  
  background-size: contain;
  background-repeat: no-repeat;
}
.contacts-social-item:nth-child(1) a {
    background-image: url('img/icon-fb.svg');
}
.contacts-social-item:nth-child(2) a {
    background-image: url('img/icon-vk.svg');
}
.contacts-social-item:nth-child(3) a {
    background-image: url('img/icon-instagram.svg');
}
.contacts-map-wrapper {
    background-image: url('img/map-layer-desktop@1x.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1366px;
    height: 611px;
    position: absolute;
    top:70px;

}
.footer {
    width: 1366px;
    height: 114px;
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer a {
    text-decoration: none;
    color: #122659;

}
.rights-container{
   
    padding-left: 50px;
    display: flex;
    align-items: center;
}
.footer .logo {
    padding-left: 45px;
    
    margin-right: 20px;
}

.rights {
    width: 250px;
    
   
}
.confidens {
   
   margin-right: 50px;
}